.features{
    & .d1{
        padding-top: 80px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
        gap: 32px;
        display: flex;
    }
    & .d2 {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding-bottom: 80px;
    }
    & .cell1 {
        width: 240px;
        height: 485px;
    }
    & .cell2 {
        width: 240px;
        height: 485px;
    }
    & .cell3 {
        width: 240px;
        height: 485px;
    }
}
@media (max-width: 768px) {
    
    body {
      font-size: 17px;
      margin: 15px;
    }
  
    .card {
      width: 95%; /* Largura ajustada para tablets */
    }

    .d1 {
        flex-direction: column;
    }

    .d2 {
        flex-direction: column;
        margin-right: 50px;
        margin-left: 17px;
    }

    .cell1 {
        width: 0 !important;
    }

    .cell2 {
        width: 0 !important;
    }

    .cell3 {
        width: 0 !important;
    }

    .d1 {
        justify-content: center;
        align-items: center;
    }
  }